.eur-card-container {
    margin: 10px 0;
}
.card-title {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card-table {
    width: 100%;
    margin-top: 0px;
    border-spacing: 0;
    border-bottom: 1px solid #e1e1e1;
}

.card-table th,td {
    font-size: 12px;
    text-align: center;
}

.convert-container {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.convert-container h5 {
    text-align: center;
}

.convert-card {
    width: 100%;
    margin-top: 0px;
    border-spacing: 0;
}

.convert-table th,td {
    font-size: 12px;
    text-align: center;
}

.convert-table input {
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: bolder;
}

.formatPriceDollar {
    color: green;
}

.formatPriceEuro {
    color: gold;
}