.sales-by-date-container {
    height: 390px;
    padding: 25px 15px 50px 30px;
  }
  
  .sales-by-date-title {
    margin-bottom: 5px;
    font-size: 24px;
    color: var(--grey-light);
  }
  
  .sales-by-date-period {
    color: var(--grey-light-25);
  }
  
  .sales-by-date-data {
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .sales-by-date-quantity-container {
  }
  
  .sales-by-date-quantity {
    font-size: 36px;
    color: var(--light-color);
  }
  
  .sales-by-date-quantity-label {
    color: var(--green);
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
  }
  
  .sales-by-date-quantity-description {
    font-size: 18px;
    color: var(--grey-light-25);
  }
  
  .sales-by-date-chart {
    width: 890px;
  }