.card-currancy-container {
    margin: 10px 0;
    padding: 10px;
}

.card-title {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card-table {
    width: 100%;
    margin-top: 0px;
    border-spacing: 0;
    border-bottom: 1px solid #e1e1e1;
}

.card-table th,td {
    font-size: 12px;
    text-align: center;
}

.convert-container {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.convert-container h5 {
    text-align: center;
}

.convert-card {
    width: 100%;
    margin-top: 0px;
    border-spacing: 0;
}

.convert-table th,td {
    font-size: 12px;
    text-align: center;
    max-width: 80px;
}

.convert-table input {
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: bolder;
    max-width: 80px;
    height: 40px;
}

.formatPriceDollar {
    color: #489f37;
}

.formatPriceEuro {
    color: #e2b621;
}

.formatPriceBitcoin {
    color: #f7931a;
}

@media(min-width:576px) {

    .convert-table th,td {
        font-size: 14px;
        max-width: 100px;
    }
    
    .convert-table input {
        max-width: 100px;
        height: 40px;
    }
}

@media(min-width:768px) {

    .card-title img {
        width: 5%;
    }

    .card-title h6 {
        font-size: 26px;
    }

    .card-table th,td {
        font-size: 20px;
    }

    .convert-container {
        padding: 10px;
    }

    .convert-table input {
        height: 40px;
        font-size: 16px;
    }

    .convert-container h5 {
        font-size: 26px;
    }
 
}