.filter-container {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px 0 25px 0;
  padding: 5px;
}

.filter-container h6 {
  margin-bottom: 5px;
}

.filter-input {
  height: 50px;
  background-color: var(--secondary-color);
  color: var(--grey-light);
  font-size: 16px;
  border: 1px solid var(--grey-light-50);
  border-radius: 10px;
  width: 80%;
  padding: 5px;
}

.filter-container select {
  width: 80%;
}

.filter-input::placeholder {
  color: var(--grey-light);
  font-size: 14px;
}



@media(min-width:1200px) {

  .filter-container {
    margin: 5px 0 45px 0;
    padding: 10px;
  }

  .filter-title {
    font-size: 30px;
  }

  .filter-input {
    max-width: 400px;
  }
    
}