  
  .sales-table {
    width: 100%;
    margin-top: 30px;
    border-spacing: 0;
   
  }
  
  .sales-table thead th {
    text-align: center;
    height: 55px;
    font-size: 16px;
  }
  
  /** efeito no primeiro th contido na classe */
  .sales-table thead th:first-of-type {
    padding-left: 10px;
  }
  
  /** efeito no primeiro td contido na classe */
  .sales-table tbody td:first-of-type {
    padding-left: 10px;
  }
  
  .sales-table tbody td {
    height: 55px;
    border-top: 1px solid var(--grey-light-40);
    font-size: 18px;
    text-align: center;
  }
  
  /** efeito ao passar pelas linhas par da tabela */
  .sales-table tbody tr:hover > td {
    background-color: var(--grey-light-50);
  }
  
  /** estilizar todas as linhas par da tabela */
  .sales-table tbody tr:nth-child(even) {
    background-color: var(--primary-color);
  }
  
  /** estilizar todas as linhas ímpares da tabela */
  .sales-table tbody tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.1);
  }